.block {
  width: 100%;
  color: #fff;
}
.isVisible {
  display: none;
}
.isVisibilty {
  visibility: hidden;
}
.header-title {
  margin-bottom: 25px;
  border-left: 3px solid #1770ea;
  padding-left: 8px;
  .header-title-info {
    margin-bottom: 15px;
  }
  .header-title-address {
    font-size: 14px;
  }
}
.link-btn {
  color: #1770ea;
  cursor: pointer;
}
.header-title-info {
  margin-bottom: 20px;
}
.info {
  width: 100%;
  overflow: hidden;
  li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 40px 0;
    p {
      word-wrap: break-word;
      margin-bottom: 10px;
    }
    span {
      font-size: 14px;
      color: #134699; 
      &:nth-child(9) {
        color: #1770ea;
      }
    }
  }
}
.address-info {
  border-radius: 2px;
  box-shadow: 3px 3px 25px #0a1331;
  background: #18244f;
}
.assets-info {
  li {
    padding-left: 3px;
    padding-right: 3px;
    float: left;
    background: #18244f;
    p {
      color: #359bd5;
    }
  }
  li.textmiddle {
    display: inline-flex;
    align-items: center;
    justify-content: center;    
  }
}
.tran-list {
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-bottom: 70px;
  box-shadow: 3px 3px 25px #0a1331;
  .row-head, .row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    .col {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .td-link-btn {
    color: #1770ea;
  }
  .col-icon-empty {
    width: 36px;
    height: 50px;
  }
  .col-icon {
    width: 36px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    float: right;
    cursor: pointer;
  }
  .col-icon img {
    transition: all .6s;
  }
  .col-icon img.active {
    transform: rotate(180deg);    
  }
  .row-head {
    background-color: #1c2b5d;
  }
  .warpper {
    &:nth-child(even) {
      background: #18244f;
      .tran-info {
        border-top: 1px solid #132b5d;
      }
    }
    &:nth-child(odd) {
      background: #1c2b5d;
      .tran-info {
        border-top: 1px solid #151e40;
      }
    }
    .tran-info {
      margin: 0 30px;
      padding: 0 10px;
      .tran-info-from {
        text-align: center;
        margin-top: 30px;
      }
      .tran-info-icon {
        text-align: center;
        position: relative;
      }
      .tran-info-to {
        text-align: center;
        margin-top: 30px;
      }
      .info-title {
        font-size: 14px;
        margin-bottom: 20px;
      }
      .info-address {
        font-size: 14px;
        margin-bottom: 20px;
      }
      .info-amount {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }
}
.view-all {
  width: 100%;
  text-align: center;
  button {
    background-color: #1770ea;
    color: #fff;
    width: 120px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    &:hover {
      background:  #134699;
    }
  }
}
@media screen and (min-width: 870px) {
  .address-info {
    li {
      width: 33.33%;
      min-height: 135px;
      float: left;
      &:not(:nth-child(3n)) {
        border-right: 1px solid #203067;
      }
      &:nth-child(-n + 3) {
        border-bottom: 1px solid #203067;
      }
      p {
        &:nth-child(3n) {
          font-size: 14px;
        }
        &:not(::nth-child(3n)) {
          font-size: 24px;
        }
      }
    }
  }
  .tran-info {
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    .tran-info-from {
      width: 45%;
    }
    .tran-info-icon {
      width: 10%;
    }
    .tran-info-to {
      width: 45%;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
@media screen and (max-width: 869px) {
  .tran-info {
    display: flex;  
    flex-wrap: wrap;
    flex-direction: column;
    .tran-info-icon {
      height: 40px;
      line-height: 40px;
      margin: 20px 0;
      img {
        transform: rotate(90deg);
      }
    }
  }
}
@media screen and (min-width: 420px) {
  .tran-list {
    .row, .row-head {
      padding: 0 30px;
    }
  }
  .view-all {
    margin-bottom: 70px;
  }
  .assets-info {
    li {
      margin-bottom: 10px;
      width: 32.66%;
      height: 150px;
      &:not(:nth-child(3n)) {
        margin-right: 1%;
      }
      p {
        font-size: 28px;
      }
    }
  }
  .header-title-info {
    font-size: 30px;
    margin-top: 70px;
  }
}
@media screen and (max-width: 419px) {
  .tran-list {
    .row-head, .row {
      padding: 0 10px;
    }
  }
  .view-all {
    margin-bottom: 30px;
  }
  .hidden {
    display: none !important;
  }
  .assets-info {
    li {
      margin-bottom: 8px;
      width: 49%;
      height: 120px;
      &:not(:nth-child(2n)) {
        margin-right: 2%;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .header-title-info {
    font-size: 22px;
    margin-top: 30px;
  }
}
:host {
  display: block;
}