<div class="paginator">
	<div class="pager-info" disabled="disabled"><label i18n>Page</label> <span>{{clickPage}}</span> <label i18n>of</label> <span>{{pageLength}}</span></div>
	<ul class="pager" *ngIf="pageLength > 1">
		<!-- <li class="hidden"><a href="javascript: ;" (click)="pageGo(1)">First Page</a></li> -->
		<li><a href="javascript: ;" (click)="pagePre()" i18n>Previous</a></li>
	</ul>
	<ul class="hidden" *ngIf="pageLength > 1">
		<li><a href="javascript: ;" (click)="pagePreList()">&lt;&lt;</a></li>
		<li *ngFor="let num of pageShowList" [ngClass]="{active: clickPage === num}"><a href="javascript: ;" (click)="pageGo(num)">{{ num }}</a></li>
		<li><a href="javascript: ;" (click)="pageNextList()">&gt;&gt;</a></li>
	</ul>
	<ul class="pager pager-right" *ngIf="pageLength > 1">
		<li><a href="javascript: ;" (click)="pageNext()" i18n>Next</a></li>
		<!-- <li class="hidden"><a href="javascript: ;" (click)="pageGo(pageLength)">Last Page</a></li> -->
	</ul>
</div>