<div class="paginator">
    <div class="pager-info" disabled="disabled"><label i18n>Page</label><span>&nbsp;{{pageIndex | number}}&nbsp;</span> <label
            i18n>of</label><span>&nbsp;{{pageLength | number}}</span></div>
    <button class="pager pager-item" [disabled]="pageIndex <= 1 || pageLength <= 1"
        [ngClass]="(pageIndex <= 1 || pageLength <= 1) ? 'notAllowed' : 'pointer'" (click)="prev()"
        i18n>Previous</button>
    <div class="hidden">
        <button class="pager-item" [disabled]="groupBase <= 1" [ngClass]="groupBase <= 1 ? 'notAllowed' : 'pointer'"
            (click)="groupPrev()">&lt;&lt;</button>
        <div class="pager-main pointer pager-item" *ngFor="let num of list" [ngClass]="{active: pageIndex === num}"
            (click)="jump(num)">{{ num }}</div>
        <button class="pager-item" [disabled]="groupBase >= maxGroup"
            [ngClass]="groupBase >= maxGroup ? 'notAllowed' : 'pointer'" (click)="groupNext()">&gt;&gt;</button>
    </div>
    <button class="pager pager-item pager-right" [disabled]="pageIndex >= pageLength"
        [ngClass]="pageIndex >= pageLength ? 'notAllowed' : 'pointer'" (click)="next()" i18n>Next</button>
</div>
