.block {
  width: 100%;
  color: #fff;
}
.isVisible {
  display: none;
}
.isVisibilty {
  visibility: hidden;
}
.over-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.link-btn {
  color: #1770ea;
  cursor: pointer;
}
.header-title {
  margin-bottom: 25px;
  border-left: 3px solid #1770ea;
  padding-left: 8px;
  .header-title-info {
    margin-bottom: 15px;
  }
  .header-title-address {
    font-size: 14px;
  }
}
.header-title-info {
  margin-bottom: 20px;
}
.option-btn {
  position: relative;
  margin-bottom: 20px;
  button {
    background: #18244f;
    height: 32px;
    border: 1px solid #1770ea;
    color: #1770ea;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #1c2b5d;
    }
    a {
      text-decoration: none;
      width: 100%;
      display: inline-block;
      height: 32px;
      line-height: 32px;
    }
  }
  .option-left {
    button {
      width: 100px;
    }
  }
  .option-right { 
    .pre-button {
      width: 150px;
      margin-right: 26px;
    }
    .next-button {
      width: 120px;
      margin: 0;
    }
  }
}
.info {
  box-shadow: 3px 3px 25px #0a1331;
  width: 100%;
  background: #18244f;
  border-radius: 2px;
  overflow: hidden;
  li {
    list-style: none;
    box-sizing: border-box;
    position: relative;
    float: left;   
    div {
      position: absolute;
      bottom: 40px;
      text-align: center;
      width: 100%;
      padding: 0 10px;
    }
    p {
      word-break: break-all; 
      margin-bottom: 10px;
    }
    span {
      bottom: 0;
      font-size: 14px;
      padding-bottom: 40px;
      color: #134699; 
      &:nth-child(9) {
        color: #1770ea;
      }
    }
  }
}
.tran-list {
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 3px 3px 25px #0a1331;
  .row-head, .row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    .col {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .col-icon {
    text-align: center;
    float: right;
    cursor: pointer;
    .active {
      transform: rotate(180deg);
    }
  }
  .row-head {
    background-color: #1c2b5d;
  }
  .warpper {
    &:nth-child(even) {
      background: #18244f;
      .tran-info {
        border-top: 1px solid #132b5d;
      }
    }
    &:nth-child(odd) {
      background: #1c2b5d;
      .tran-info {
        border-top: 1px solid #151e40;
      }
    }
    .tran-info {
      margin: 0 30px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .tran-info-from {
        width: 45%;
        text-align: center;
        margin-top: 30px;
      }
      .tran-info-icon {
        width: 10%;
        text-align: center;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .tran-info-to {
        width: 45%;
        text-align: center;
        margin-top: 30px;
      }
      .info-title {
        font-size: 14px;
        margin-bottom: 20px;
      }
      .info-address {
        font-size: 14px;
        margin-bottom: 20px;
      }
      .info-amount {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }
}
.view-all {
  width: 100%;
  text-align: center;
  button {
    background-color: #1770ea;
    color: #fff;
    width: 120px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-top: 30px;
    border-radius: 5px;
    &:hover {
      background: #134699;
    }
  }
}
@media screen and (min-width: 870px) {
  .info {
    li {
      width: 33.33%;
      &:not(:nth-child(3n)) {
        border-right: 1px solid #203067;
      }
      &:nth-child(-n + 6) {
        border-bottom: 1px solid #203067;
      }
      .big-font-size {
        font-size: 24px;
      }
      .small-font-size {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 869px) {
  .info {
    li {
      width: 50%;
      &:not(:nth-child(2n)) {
        border-right: 1px solid #203067;
      }
      &:nth-child(-n + 8) {
        border-bottom: 1px solid #203067;
      }
      .big-font-size {
        font-size: 18px;
      }
      .small-font-size {
        font-size: 14px;
      }
    }
  }
}
@media screen and (min-width: 420px) {
  .tran-list {
    .row {
      padding: 0 30px;
    }
    .row-head {
      padding: 0 46px 0 30px;
    }
  }
  .info, .view-all {
    margin-bottom: 70px;
  }
  .header-title-info {
    font-size: 30px;
  }
  .option-left {
    display: inline-block;
  }
  .option-right {
    display: inline-block;
    position: absolute;
    right: 0; 
  }
  .info li {
    height: 150px;
  }
}
@media screen and (max-width: 419px) {
  .info, .view-all {
    margin-bottom: 30px;
  }
  .header-title-info {
    font-size: 22px;
  }
  .hidden {
    display: none;
  }
  .tran-list {
    .row-head, .row {
      padding: 0 10px;
    }
  }
  .info {
    li {
      width: 100%;
      min-height: 120px;
      float: left;
      &:not(:nth-child) {
        border-bottom: 1px solid #203067;
      }
    }
  }
  .option-left {
    position: relative;
    margin-bottom: 10px;
  }
  .option-right {
    .pre-button {
      position: relative;
    }
    .next-button {
      position: relative;
      float: right;
    }
  }
}
:host {
  display: block;
}