:host {
  width: 100%;
}
.main {
  max-width: 1140px;
  margin: 0 auto;
}
.top-nav {
  width: 100%;
  position: relative;
  background: #151e40 !important;
  border-bottom: 1px solid #132f5a;
  font-size: 16px;
  color: #1770ea !important;
  .wide-title {
    text-align: left;
    width: 25%;
    height: 100%;
    margin-right: 16px;
    padding-top: 14px;
    img {
      cursor: pointer;
      width: 126px;
      height: 36px;
    }
  }
  .menu {
    height: 100%;
    margin-right: 16px;
    .menu-item {
      height: 100%;
      min-width: 60px;
      background: transparent;
      border: none;
      font-size: 16px;
      color: #1770ea;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    .menu-item.active {
      color: #fff;
      border-bottom: 1px solid #1770ea;
      font-weight: bold;
    }
    .menu-item:hover {
      color: #fff;
    }
  }
}
.pc-menu-btn {
  min-width: 100px;
  text-align: right;
}
.pc-menu-item {
  color: #1770ea;
  height: 45px;
  line-height: 45px;
  &:hover {
    color: #fff;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #132f5a;
  }
}
::ng-deep .links-menu {
  right: -24px !important;
}
::ng-deep .lang-menu, ::ng-deep .net-menu {
  right: 112px !important;
  top: 6px !important;
}
::ng-deep .mat-icon {
  vertical-align: middle;
}
::ng-deep .mat-button-focus-overlay {
  background-color: transparent !important;
}
::ng-deep .mat-menu-item {
  text-align: center !important;
  padding: 0 !important;
  padding: 0 10px !important;
}
::ng-deep .mat-menu-panel {
  position: absolute;
  top: 40px;
  background: #18244f;  
  border: 1px solid #1770ea;
  transform-origin: top !important;
  min-width: 100px !important;
  max-width: 140px !important;
  text-align: center;
}
::ng-deep .mat-menu-panel::before {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1770ea;
  position: absolute;
  top: -12px;
  left: 39px; 
  content: "";
}
::ng-deep .mat-menu-content {
  text-align: center;
  padding: 0 !important;
}
::ng-deep mat-toolbar-row {
  padding: 0 !important;
}
::ng-deep .mat-menu-item-submenu-trigger::after {
  border-color: transparent currentColor transparent transparent !important;
  left: 5px;
  border-width: 5px 5px 5px 0 !important;
  color: #1770ea;
}
@media screen and (min-width: 420px) {
  .top-nav {
    margin-bottom: 70px !important;
  }
  .main {
    padding: 0 20px 10px 20px;
  }
}
@media screen and (max-width: 419px) {
  .top-nav {
    margin-bottom: 30px !important;
  }
  .main {
    padding: 0 10px 10px 10px;
  }
}

