<div class="main">
  <mat-toolbar class="top-nav">
    <mat-toolbar-row *ngIf="isWide">
      <div class="wide-title" routerLink="/home">
        <img src="../assets/logo.svg" alt="logo">
      </div>      
      <div class="flex-1 menu">
        <button class="menu-item" [ngClass]="{active: currentPage.indexOf('home') >= 0}" routerLink="/home" i18n>Home</button>
        <button class="menu-item" [ngClass]="{active: currentPage.indexOf('block') >= 0}" routerLink="/blocks" i18n>Blocks</button>
        <button class="menu-item" [ngClass]="{active: currentPage.indexOf('transaction') >= 0}" routerLink="/transactions" i18n>Transactions</button>
        <button class="menu-item" [ngClass]="{active: currentPage.indexOf('address') >= 0}" routerLink="/addresses" i18n>Addresses</button>
        <button class="menu-item" [ngClass]="{active: currentPage.indexOf('asset') >= 0 || currentPage.indexOf('nep5') >= 0}" routerLink="/assets" i18n>Assets</button>
      </div>
      <div mat-button class="pc-menu-btn" [matMenuTriggerFor]="pcLanguage"><span i18n>Language</span><mat-icon style="margin-left: 8px;">keyboard_arrow_down</mat-icon></div>
      <mat-menu #pcLanguage="matMenu">
        <a class="pc-menu-item" mat-menu-item href="/#/" i18n>English</a>
        <a class="pc-menu-item" mat-menu-item href="/cn/#/" i18n>Chinese</a>
      </mat-menu>
      <div mat-button class="pc-menu-btn" [matMenuTriggerFor]="pcNet"><span i18n>Net</span><mat-icon style="margin-left: 8px;">keyboard_arrow_down</mat-icon></div>
      <mat-menu #pcNet="matMenu">
        <button class="pc-menu-item" mat-menu-item (click)="alertDialog()" i18n>MainNet</button>
        <button class="pc-menu-item" mat-menu-item (click)="alertDialog()" i18n>TestNet</button>
      </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!isWide">
      <div class="wide-title" routerLink="/home">
        <img src="../assets/logo.svg" alt="logo">
      </div>
      <div class="flex-1"></div>
      <div style="height: 24px;" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></div>
      <mat-menu #menu="matMenu" class="links-menu">
        <button class="pc-menu-item" mat-menu-item routerLink="/home" i18n>Home</button>
        <button class="pc-menu-item" mat-menu-item routerLink="/blocks" i18n>Blocks</button>
        <button class="pc-menu-item" mat-menu-item routerLink="/transactions" i18n>Transactions</button>
        <button class="pc-menu-item" mat-menu-item routerLink="/addresses" i18n>Addresses</button>
        <button class="pc-menu-item" mat-menu-item routerLink="/assets" i18n>Assets</button>
        <button class="pc-menu-item" mat-menu-item [matMenuTriggerFor]="language" i18n>Language</button>
        <button class="pc-menu-item" mat-menu-item [matMenuTriggerFor]="net" i18n>Net</button>
      </mat-menu>
      <mat-menu #language="matMenu" class="lang-menu">
        <a class="pc-menu-item" mat-menu-item href="/#/" i18n>English</a>
        <a class="pc-menu-item" mat-menu-item href="/ch/#/" i18n>Chinese</a>
      </mat-menu>
      <mat-menu #net="matMenu" class="net-menu">
        <button class="pc-menu-item" mat-menu-item (click)="alertDialog()" i18n>MainNet</button>
        <button class="pc-menu-item" mat-menu-item (click)="alertDialog()" i18n>TestNet</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>