.block {
  width: 100%;
  position: relative;
}
.header-title-info {
  margin-bottom: 20px;
}
.link-btn {
  color: #1770ea;
  cursor: pointer;
}
.data-right {
  text-align: right;
}
.welcome {
  text-align: center;
  min-height: 190px;
  background: #18244f;
  box-shadow: 3px 3px 18px #101938;
  border-radius: 3px;
  .line-first {
    margin-bottom: 10px;
    color: #fff;
  }
  .line-second {
    font-size: 14px;
    color: #769acb;
    margin-bottom: 20px;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    img {
      width: 20px;
      height: 20px;        
    }
  }    
}
.links {
  width: 100%;
  .link-item {
    float: left;
    background-color: #18244f;
    background-image: url('/assets/bg_Summary.png');
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    border-radius: 3px;
    height: 190px;
    padding: 65px 0;
    p{
      color: #fff;
      font-size: 14px;
      padding-bottom: 20px;
    }
    span {
      color: #1770ea;
      margin-bottom: 25px;
    }
  }
}
:host {
  display: block;
}
:host ::ng-deep mat-form-field * {
  text-align: center !important;
}
:host ::ng-deep mat-label {
  color: #1770ea;
  span {
    font-size: 14px;
    position: relative;
    top: -5px;
  }
}
:host ::ng-deep .mat-input-underline {
  background-color: #1770ea;
}
:host ::ng-deep .mat-form-field-ripple{
  background-color: #1770ea;
}
:host ::ng-deep .mat-focused:not(.mat-form-field-invalid) mat-form-field * {
  color: #1770ea;
}
:host ::ng-deep .mat-input-element {
  caret-color: #fff;
}
:host ::ng-deep .mat-focused:not(.mat-form-field-invalid) .mat-input-underline {
  background-color: #1770ea;
}
:host ::ng-deep .mat-focused:not(.mat-form-field-invalid) .mat-form-field-ripple{
  background-color: #1770ea;
}

@media screen and (max-width: 700px) {
  .welcome {
    .line-first {
      font-size: 22px !important;
    }
  }
}
@media screen and (min-width: 601px) {
  .links {
    height: 190px;
    .link-item {
      width: 24.25%;
      &:not(:last-child) {
        margin-right: 1%;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .links {
    height: 385px;
    .link-item {
      width: 49.5%;
      &:nth-child(odd) {
        margin-right: 1%;
      }
      &:nth-child(-n + 2) {
        margin-bottom: 5px;
      }
    }
  }
}
@media screen and (min-width: 420px) {
  .welcome {
    padding: 30px 10% 0 10%;
    margin-bottom: 70px;
    img {
      margin-left: 20px;
    }
  }
  .links, .recent-assets {
    margin-bottom: 70px;
  }
  .header-title-info, .welcome .line-first, .links .link-item span {
    font-size: 30px;
  }
}
@media screen and (max-width: 419px) {
  .welcome {
    padding: 30px 10px;
    margin-bottom: 30px;
    img {
      margin-left: 5px;
    }
  }
  .links, .recent-assets {
    margin-bottom: 30px;
  }
  .hidden {
    display: none;
  }
  .header-title-info, .welcome .line-first, .links .link-item span {
    font-size: 22px;
  }
}