<div class="block">
  <div class="welcome">
    <div class="line-first" i18n>Welcome to ExChain Explorer</div>
    <div class="line-second" i18n>Your home for all NEO related blockchain information</div>
    <div class="example-container" [formGroup]="searchForm">
      <mat-form-field >
        <mat-label><span i18n>Block Height, Hash, Address or Transaction id </span><img src="/assets/icon_search@2x.png"></mat-label>
        <input matInput formcControlName="searchText" (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
  </div>
  <div class="links">
    <div class="link-item">
      <p i18n>Total Blocks</p>
      <span>{{ total?.blockCounts  | number }}</span>
    </div>
    <div class="link-item">
      <p i18n>Total Assets</p>
      <span>{{ total?.assetCounts  | number: '1.0-8' }}</span>
    </div>
    <div class="link-item">
      <p i18n>Total Transactions</p>
      <span>{{ total?.txCounts  | number }}</span>
    </div>
    <div class="link-item">
      <p i18n>Total Addresses</p>
      <span>{{ total?.addressCounts  | number }}</span>
    </div>
  </div>
</div>
