<div class="block">
  <div class="header-title">
    <p class="header-title-info" i18n>Asset information</p>
    <p class="header-title-address">{{assetInfo.admin}}</p>
  </div>
  <ul class="address-info">
    <li class="color-one width-half"><label i18n>Name</label>{{assetInfo.name}}</li>
    <li class="color-one width-half"><label i18n>Symbol</label>不提供</li>
    <li class="color-two width-half"><label i18n>Total Supply</label>{{assetInfo.amount}}</li>
    <li class="color-two width-half"><label i18n>Issued</label>不提供</li>
    <li class="color-one width-half"><label i18n>Type</label>{{assetInfo.type}}</li>
    <li class="color-one width-half"><label i18n>Created</label><span class="link-btn">{{assetInfo.time * 1000 | date: 'yyyy-MM-dd'}}</span></li>
    <li class="color-two width-half"><label i18n>Blocks</label><span class="link-btn">{{assetInfo.blockIndex}}</span></li>
    <li class="color-two width-half"><label i18n>transactions</label><span class="link-btn">{{assetInfo.transactions}}</span></li>
    <li class="color-one width-half"><label i18n>Precision</label>{{assetInfo.precision}}</li>
    <li class="color-one width-half"><label i18n>Addresses</label><span class="link-btn">{{assetInfo.addresses}}</span></li>
    <li class="color-two width-all"><label i18n>Network fee</label>不提供</li>
    <li class="color-one width-all over-ellipsis"><label i18n>Owner</label><span class="link-btn">{{assetInfo.admin}}</span></li>
    <li class="color-two width-all"><label i18n>Hash</label>不提供</li>
    <li class="color-one width-all"><label i18n>Register</label><span class="link-btn">不提供</span></li>
  </ul>
  <p class="header-title-info" i18n>Recent Addresses</p>
	<div class="example-container mat-elevation-z8">
		<mat-table [dataSource]="recentAddress">
			<!-- address Column -->
			<ng-container matColumnDef="address">
				<mat-header-cell *matHeaderCellDef class="addr-min-width" i18n> Address </mat-header-cell>
				<mat-cell *matCellDef="let row" class="link-btn addr-min-width" routerLink="/address/{{row.address}}"> {{ row.address }} </mat-cell>
			</ng-container>
			<!-- createdAt Column -->
			<ng-container matColumnDef="createdAt">
				<mat-header-cell *matHeaderCellDef i18n> CreatedAt </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.createdAt | unixTime }} </mat-cell>
      </ng-container>
      <!-- lastTransactionTime Column -->
			<ng-container matColumnDef="lastTransactionTime">
        <mat-header-cell *matHeaderCellDef class="hidden" i18n> Last Transaction </mat-header-cell>
        <mat-cell *matCellDef="let row" class="hidden"> {{ row.lastTransactionTime | unixTime }} </mat-cell>
      </ng-container>
      <!-- transactions Column -->
      <ng-container matColumnDef="transactions">
        <mat-header-cell *matHeaderCellDef class="hidden" i18n> Transactions </mat-header-cell>
        <mat-cell *matCellDef="let row" class="hidden"> {{ row.transactions }} </mat-cell>
      </ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
  </div>
  <div class="view-all">
    <button mat-raised-button routerLink="/asset/address/{{assetInfo.assetId}}" i18n>View All</button>
  </div>
</div>