.block {
  width: 100%;
  color: #fff;
}
.header-title {
  margin-bottom: 25px;
  border-left: 3px solid #1770ea;
  padding-left: 8px;
  .header-title-address {
    font-size: 14px;
  }
}
.header-title-info {
  font-size: 30px;
  margin-bottom: 15px;
}
.info-address {
  width: 100%;
  overflow: hidden;
  margin-bottom: 70px;
  border-radius: 2px;
  box-shadow: 3px 3px 25px #060c23;
  background: #18244f;
  font-size: 16px;
  li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    label {
      margin-right: 44px;
    }
    span.link-btn {
      color: #1770ea;
      cursor: pointer;
    }
  }
}
.tran-list {
  width: 100%;
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
  box-shadow: 3px 3px 25px #060c23;
  .row-head, .row {
    height: 50px;
    line-height: 50px;
    .col {
      display: inline-block;
    }
    .col-1 {
      padding-left: 30px;
      width: 20%;
    }
    .col-2 {
      width: 20%;
    }
    .col-3 {
      width: 15%;
    }
    .col-4 {
      width: 10%;
    }
    .col-5 {
      width: 20%;
      padding-left: 16px;
    }
  }
  .col-6 {
    padding-right: 30px;
    text-align: center;
    float: right;
    cursor: pointer;
    .active {
      transform: rotate(180deg);
    }
  }
  .row-head {
    background-color: #1c2b5d;
  }
  .warpper {
    &:nth-child(even) {
      background: #18244f;
      .tran-info {
        border-top: 1px solid #132b5d;
      }
    }
    &:nth-child(odd) {
      background: #1c2b5d;
      .tran-info {
        border-top: 1px solid #151e40;
      }
    }
    .row .col-1 {
      color: #1770ea;
      cursor: pointer;
    }
    .tran-info {
      margin: 0 30px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .tran-info-from {
        width: 45%;
        text-align: center;
        margin-top: 30px;
      }
      .tran-info-icon {
        width: 10%;
        text-align: center;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .tran-info-to {
        width: 45%;
        text-align: center;
        margin-top: 30px;
      }
      -title {
        font-size: 14px;
        margin-bottom: 20px;
      }
      .info-address {
        font-size: 14px;
        color: #1770ea;
        margin-bottom: 20px;
      }
      .info-amount {
        font-size: 18px;
        margin-bottom: 30px;
        .info-amount-name {
          color: #1770ea;
          
        }
      }
    }
  }
}
.view-all {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
  button {
    background-color: #1770ea;
    color: #fff;
    width: 120px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-top: 30px;
    border-radius: 5px;
    &:hover {
      background:  #1c2b5d;
    }
  }
}
@media screen and (min-width: 870px) {
  .info-address {
    width: 100%;
    li {
      float: left;
    }
    .color-one {
      background: #1c2b5d;
    }
    .color-two {
      background: #18244f;
    }
    .width-half {
      width: 50%;
    }
    .width-all {
      width: 100%;
    }
  }
}
@media screen and (max-width: 869px) {
  .info-address {
    li {
      width: 100%;
      &:nth-child(odd) {
        background: #1c2b5d;
      }
      &:nth-child(even) {
        background: #18244f;
      }
    }
  }
}
:host {
  display: block;
}