.block {
  width: 100%;
  color: #fff;
}
.header-title-info {
  margin-bottom: 20px;
}
.link-btn {
  color: #1770ea;
  cursor: pointer;
}
.header-title {
  margin-bottom: 25px;
  border-left: 3px solid #1770ea;
  padding-left: 8px;
  .header-title-info {
    margin-bottom: 0;
  }
  .header-title-address {
    font-size: 14px;
  }
}
.address-info {
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 3px 3px 25px #0a1331;
  background: #18244f;
  font-size: 16px;
  li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    label {
      margin-right: 44px;
      display: inline-block;
      width: 100px;
    }
    span.link-btn {
      color: #1770ea;
      cursor: pointer;
    }
  }
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-bottom: 30px;
}
@media screen and (min-width: 870px) {
  .address-info {
    width: 100%;
    li {
      float: left;
    }
    .color-one {
      background: #1c2b5d;
    }
    .color-two {
      background: #18244f;
    }
    .width-half {
      width: 50%;
    }
  }
}
@media screen and (max-width: 869px) {
  .address-info {
    li {
      width: 100%;
      &:nth-child(odd) {
        background: #1c2b5d;
      }
      &:nth-child(even) {
        background: #18244f;
      }
    }
  }
}
@media screen and (min-width: 420px) {
  .address-info {
    margin-bottom: 70px;
  }
  .header-title-info {
    font-size: 30px;
  }
  .addr-min-width {
    min-width: 320px;
  }
}
@media screen and (max-width: 419px) {
  .address-info {
    margin-bottom: 30px;
  }
  .header-title-info {
    font-size: 22px;
  }
  .hidden {
    display: none !important;
  }
}
:host {
  display: block;
}
::ng-deep .mat-header-row {
  background-color: #1c2b5d;
}
::ng-deep .mat-row:nth-child(even) {
  background-color: #18244f;
}
::ng-deep .mat-row:nth-child(odd) {
  background-color: #1c2b5d;
}
::ng-deep .mat-table * {
  color: #fff;
  font-size: 14px;
}  
::ng-deep .mat-table {
  overflow: auto;
  text-align: center;
}
::ng-deep .mat-header-row, .mat-row {
  padding: 0 30px !important;  
  border: none !important;
  min-height: 50px !important;
}
::ng-deep .mat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}