.block {
  height: 100%;
  width: 100%;
  position: relative;
  .header-title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
  }
  .tran-list {
    width: 100%;
    font-size: 14px;
    color: #fff;
    margin-bottom: 60px;
    .row-head, .row {
      height: 50px;
      line-height: 50px;
      .col {
        display: inline-block;
      }
      .col-1 {
        padding-left: 30px;
        width: 20%;
      }
      .col-2 {
        width: 55%;
      }
      .col-3 {
        width: 15%;
        padding-left: 16px;
      }
    }
    .col-4 {
      width: 50px;
      text-align: center;
      float: right;
      border-left: 1px solid #132f5a;
      .active {
        transform: rotate(180deg);
      }
    }
    .row-head {
      background-color: #1c2b5d;
    }
    .warpper {
      &:nth-child(even) {
        background: #18244f;
      }
      &:nth-child(odd) {
        background: #1c2b5d;
      }
      .tran-info {
        width: 100%;
        padding-top: 20px;
        background: #336;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .tran-info-from {
          width: 48%;
          text-align: center;
        }
        .tran-info-icon {
          width: 4%;
          margin-bottom: 20px;
          vertical-align: middle;
          text-align: center;
          position: relative;
          span {
            position: absolute;
            top: 50%;
          }
        }
        .tran-info-to {
          width: 48%;
          text-align: center;
        }
        .info-title {
          font-size: 18px;
          font-weight: 800;
          padding-bottom: 8px;
          margin-bottom: 15px;
        }
        .info-address {
          font-size: 14px;
          font-weight: 400px;
          text-decoration: underline;
          color: #1770ea;
          margin-bottom: 6px;
        }
        .info-amount {
          margin-bottom: 20px;
        }
      }
    }
  }
  .paginator {
    text-align: center;
    font-size: 14px;
    margin-bottom: 70px;
    ul {
      display: inline;
    }
    li {
      list-style: none;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      height: 26px;
      line-height: 26px;
      background: #1c2b5d;
      border-radius: 3px;
      margin-right: 8px;
      a {
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      &:hover {
        background: #1770ea;
      }
    }
    li.active {
      background: #1770ea;
    }
    .pager-left li, .pager-right li{
      width: 70px;
    }
    .pager-right li:last-child {
      margin-right: 0;
    }
    .pager-middle li {
      width: 26px;
    }
  }
}
@media screen and (max-width: 600px) {
  
}
@media screen and (min-width: 601px) {
  
}
:host {
  display: block;
}
::ng-deep .mat-icon {
  vertical-align: middle;
}