.block {
  height: 100%;
  width: 100%;
}
.header-title-info {
  margin-bottom: 20px;
}
.isVisibilty {
  visibility: hidden;
}
.icon-link {
  margin-left: 4px;
  color: #1770ea;
}
.link-btn {
  color: #1770ea; 
  cursor: pointer; 
}
.header-title {
  position: relative;
  height: 60px;
  .header-title-info {
    position: absolute;
  }
  .dropdown {
    position: absolute;
    bottom: 20px;
    right: 0;
    display: inline-block;
    &:hover .dropbtn {
      color: #fff;
    }
    &:hover .dropdown-content{
      display: block;
    }
    .dropbtn {
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      border: none;
      text-align: center;
      width: 140px;
      height: 32px;
      line-height: 32px;
      font-size: 16px;
      background: #1c2b5d;
    }
    .dropdown-content {
      z-index: 999;
      display: none;
      position: absolute;
      right: 0;
      background-color: #1c2b5d;
      border: 1px solid #1770ea;
      width: 140px;
      border-radius: 3px;
      font-size: 16px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      a {
        color: #fff;
        height: 32px;
        line-height: 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        &:hover {
          color: #1770ea;
        }
        // &:not(:last-child) {
        //   border-bottom: 1px solid #132b5d;
        // }
      }
    }
  }
}
.tran-list {
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  box-shadow: 3px 3px 25px #0a1331;
  .row-head, .row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    .col {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .td-link-btn {
    color: #1770ea;
  }
  .col-icon {
    text-align: center;
    float: right;
    cursor: pointer;
    .active {
      transform: rotate(180deg);
    }
  }
  .row-head {
    background-color: #1c2b5d;
  }
  .warpper {
    &:nth-child(even) {
      background: #18244f;
      .tran-info {
        border-top: 1px solid #132b5d;
      }
    }
    &:nth-child(odd) {
      background: #1c2b5d;
      .tran-info {
        border-top: 1px solid #151e40;
      }
    }
    .tran-info {
      margin: 0 30px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .tran-info-from {
        width: 45%;
        text-align: center;
        margin-top: 30px;
      }
      .tran-info-icon {
        width: 10%;
        text-align: center;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .tran-info-to {
        width: 45%;
        text-align: center;
        margin-top: 30px;
      }
      .info-title {
        font-size: 14px;
        margin-bottom: 20px;
      }
      .info-address {
        font-size: 14px;
        margin-bottom: 20px;
      }
      .info-amount {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  
}
@media screen and (min-width: 601px) {
  
}
@media screen and (min-width: 420px) {
  .tran-list {
    margin-bottom: 70px;
    .row {
      padding: 0 30px;
    }
    .row-head {
      padding: 0 46px 0 30px;
    }
  }
  .header-title-info {
    font-size: 30px;
  }
}
@media screen and (max-width: 419px) {
  .hidden {
    display: none !important;
  }
  .tran-list {
    margin-bottom: 30px;
    .row-head, .row {
      padding: 0 10px;
    }
  }
  .header-title-info {
    font-size: 22px;
  }
}
:host {
  display: block;
}
::ng-deep .mat-icon {
  vertical-align: middle;
}