<div class="block">
  <div class="header-title">
    <span class="header-title-info" i18n>Transactions</span>
    <div class="dropdown">
      <button class="dropbtn">{{transType | transType}}<mat-icon class="icon-link">keyboard_arrow_down</mat-icon></button>
      <div class="dropdown-content">
        <a href="javascript:;" (click)="changeTransType('all')">Any</a>
        <a href="javascript:;" (click)="changeTransType('ContractTransaction')">Contract</a>
        <a href="javascript:;" (click)="changeTransType('InvocationTransaction')">Invocation</a>
        <a href="javascript:;" (click)="changeTransType('ClaimTransaction')">Claim</a>
        <a href="javascript:;" (click)="changeTransType('MinerTransaction')">Miner</a>
        <a href="javascript:;" (click)="changeTransType('RegisterTransaction')">Register</a>
        <a href="javascript:;" (click)="changeTransType('IssueTransaction')">Issue</a>
        <a href="javascript:;" (click)="changeTransType('EnrollmentTransaction')">Enrollment</a>
        <a href="javascript:;" (click)="changeTransType('PublishTransaction')">Publish</a>
      </div>
    </div>
  </div>
  <div class="tran-list">
    <div class="row-head">
      <div class="col" i18n>TXID</div>
      <div class="col" i18n>Type</div>
      <div class="col hidden" i18n>Size</div>
      <div class="col hidden" i18n>Version</div>
      <div class="col hidden" i18n>Time</div>
    </div>
    <div class="warpper" *ngFor="let item of dataSource; index as index">
      <div class="row">
        <div class="col td-link-btn"><a class="link-btn" routerLink="/transaction/{{item.TX.txid}}">{{ item.TX.txid }}</a></div>
        <div class="col" [appTransColor]="item.TX.type">{{ item.TX.type | transType }}</div>
        <div class="col hidden">{{ item.TX.size }} Bytes</div>
        <div class="col hidden">{{ item.TX.version }}</div>
        <div class="col hidden">{{ item.TX.blockTime | unixTime }}</div>
        <div class="hidden" [ngClass]="{isVisibilty: !(item.UTXOVout.TxUTXO || item.UTXOVout.TxVouts)}"><img class="col-icon" style="transition: all .4s;" (click)="showInfo(index)" [ngClass]="{active: show[index]}" src="/assets/icon_drop_down_n1.png"></div>
      </div>
      <div class="tran-info" *ngIf="show[index]">
        <div class="tran-info-from">
          <p class="info-title" *ngIf="item.UTXOVout.TxUTXO" i18n>Sent from</p>
          <div  *ngFor="let txUTXO of item.UTXOVout.TxUTXO">
            <div class="info-address"><a class="link-btn" routerLink="/address/{{txUTXO.address}}">{{ txUTXO.address }}</a></div>
            <div class="info-amount">
              <span>{{ txUTXO.value }}</span>
              <span class="link-btn" routerLink="/asset/info/{{txUTXO.assetId}}">{{ txUTXO.name }}</span>
            </div>
          </div>
        </div>
        <div class="tran-info-icon"><img src="/assets/img-arrow.png" alt=""></div>
        <div class="tran-info-to">
          <p class="info-title" *ngIf="item.UTXOVout.TxVouts" i18n>Sent to</p>
          <div *ngFor="let txVout of item.UTXOVout.TxVouts">
            <div class="info-address"><a class="link-btn" routerLink="/address/{{txVout.address}}">{{ txVout.address }}</a></div>
            <div class="info-amount">
              <span>{{ txVout.value }}</span>
              <span class="link-btn" routerLink="/asset/info/{{txVout.assetId}}">{{ txVout.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="isProgress"></mat-progress-bar>  
  <app-paginator 
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageLength]="pageLength"
    (onpageGo)="onpageGo($event)">
  </app-paginator>
</div>