<div class="block">
	<div class="example-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>
	<div class="example-container mat-elevation-z8">
		<mat-table [dataSource]="dataSource">
			<!-- type Column -->
			<ng-container matColumnDef="type">
				<mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.TX.type}} </mat-cell>
			</ng-container>
			<!-- txid Column -->
			<ng-container matColumnDef="txid">
				<mat-header-cell *matHeaderCellDef> Transactions Id </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.TX.txid}} </mat-cell>
			</ng-container>
			<!-- time Column -->
			<ng-container matColumnDef="time">
				<mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
				<mat-cell *matCellDef="let row"> 
          <!-- <span>{{ row.TX.time | date : 'yyyy-MM-dd HH:mm:ss'}}</span> -->
          <span>2018-10-1 12:23:10</span>
          <button class="txextend"> > </button>
        </mat-cell>
      </ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
		<mat-paginator [length]="totalCount" [pageSize]="1" [pageSizeOptions]="[1, 2, 50, 100]"></mat-paginator>
	</div>
</div>