<div class="block">
  <div class="tran-list">
    <div class="row-head">
      <div class="col col-1">Type</div>
      <div class="col col-2">Transaction Id</div>
      <div class="col col-3">Time</div>
    </div>
    <div class="warpper" *ngFor="let item of dataSource; index as index">
      <div class="row">
        <div class="col col-1">{{ item.TX.type }}</div>
        <div class="col col-2">{{ item.TX.txid }}</div>
        <div class="col col-3">2019-1-1 12:10:09</div>
        <div class="col col-4"><mat-icon style="transition: all .4s;" (click)="showInfo(index)" [ngClass]="{active: show[index]}">keyboard_arrow_down</mat-icon></div>
      </div>
      <div class="tran-info" *ngIf="show[index]">
        <div class="tran-info-from">
          <p class="info-title" *ngIf=item.UTXOVout.TxUTXO>Sent from</p>
          <div  *ngFor="let txUTXO of item.UTXOVout.TxUTXO">
            <div class="info-address">{{ txUTXO.address }}</div>
            <div class="info-amount">{{ txUTXO.value }}</div>
          </div>
        </div>
        <div class="tran-info-icon"><span>></span></div>
        <div class="tran-info-to">
          <p class="info-title" *ngIf=item.UTXOVout.TxVouts>Sent to</p>
          <div *ngFor="let txVout of item.UTXOVout.TxVouts">
            <div class="info-address">{{ txVout.address }}</div>
            <div class="info-amount">{{ txVout.value }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>