:host {
    border-radius: 8px;
    overflow: hidden;
    display: block;
    background: #fefefe;
}
.title {
    background: #0082da;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#47cdf3, #0082da);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#47cdf3, #0082da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: transparent;
    padding: 12px 0;
    font-size: 18px;
    color: #fefefe;
    text-align: center;
    position: relative;
}
.title button {
    position: absolute;right: 3px;
    top: 3px;
}
.body {
    padding: 46px 32px;
    font-size: 16px;
    word-break: break-all;
    text-align: left;
}
.btns {
    padding: 0 32px;
    text-align: center;
}
.btns button {
    margin: 18px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 50px;
    border: 1px solid #0082da;
    color: #0082da;
    width: 180px;
    box-sizing: border-box;
}
.btns button:last-of-type {
    color: #ffffff;
    background: #0082da;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #47cdf3, #0082da);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #47cdf3, #0082da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
}
@media screen and (max-width: 600px) {
    .btns button {
        margin: 18px 0;
    }
}
.address {
    color: #0c114b; text-align: center;
    padding: 12px;
    width: 100%;
    font-weight: 600;
    background: rgba(71, 205, 243, 0.1);
    border-radius: 4px;outline: none;border: none;
    font-size: 16px;
}
