:host {
  width: 100%;
}
::ng-deep mat-toolbar {
  width: 100%;
  background-color: #252e67 !important;
  color: #fefefe !important;
  .menu {
    font-size: 14px;
    color: #bbbfe4;
  }
  .menu.active {
    color: #389ceb;
  }
  .wide-title {
    cursor: default;
    text-align: center;
    width: 184px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 600px) {
 
}
@media screen and (min-width: 601px) {
  
}
