:host {
    height: 100%;
}
mat-toolbar {
    background: #252e67;
    color: #fefefe;
    .menu {
        font-size: 14px;
        color: #bbbfe4;
    }
    .menu.active {
        color: #389ceb;
    }
    .wide-title {
        cursor: default;
        text-align: center;
        width: 184px;
        margin-right: 16px;
    }
}
@media screen and (max-width: 600px) {
    mat-sidenav {
        width: 60%;
    }
}
@media screen and (min-width: 601px) {
    mat-sidenav {
        width: 216px;
    }
}
