:host {
  width: 100%;
}
.main {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.dropdown {
  position: relative;
  &:hover .dropbtn {
    color: #fff;
  }
  .dropbtn {
    color: #769acb;
    padding: 0;
  }
  .dropdown-content {
    z-index: 999;
    border: 1px solid #1770ea;
    display: none;
    position: absolute;
    right: 0;
    background-color: #18244f;
    min-width: 90px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    a {
      color: #769acb;
      height: 45px;
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      display: block;
      &:not(:last-child) {
        border-bottom: 1px solid #132f5a;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
.links-dropdown {
  height: 24px;
  .dropbtn {
    background: transparent;
    border: none;  
    height: 24px;
  }
  .dropdown-content {
    min-width: 110px;
    top: 25px;
  }
}
.lang-dropdown .dropdown-content:before, .net-dropdown .dropdown-content:before {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1770ea;
  position: absolute;
  top: -12px;
  left: 39px; 
  content: "";
}
.lang-dropdown .dropdown-content:after, .net-dropdown .dropdown-content:after {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #18244f;
  position: absolute;
  top: -10px;
  left: 40px; 
  content: "";
}
.lang-dropdown {
  margin-right: 16px;
}
.lang-dropdown, .net-dropdown {
  .dropbtn {
    cursor: pointer;
    border: none;
    text-align: center;
    width: 90px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    background: transparent;
    .mat-icon {
      vertical-align: middle;
    }
  }
}
.lang2-dropdown-content, .net2-dropdown-content {
  top: 0px !important;
  right: 109px !important;
}
.lang-dropdown:hover .lang-dropdown-content {
  display: block;
}
.net-dropdown:hover .net-dropdown-content {
  display: block;
}
.links-dropdown:hover .links-dropdown-content {
  display: block;
}
.lang2-dropdown:hover .lang2-dropdown-content {
  display: block;
}
.net2-dropdown:hover .net2-dropdown-content {
  display: block;
}
.top-nav {
  width: 100%;
  position: relative;
  background: #151e40 !important;
  border-bottom: 1px solid #132f5a;
  font-size: 16px;
  color: #769acb !important;
  .wide-title {
    cursor: pointer;
    text-align: left;
    width: 25%;
    margin-right: 16px;
    vertical-align: middle;
    img {
      position: absolute;
      bottom: 16px;
    }
    span {
      position: absolute;
      bottom: 16px;
      left: 40px;
      font-weight: 700;
      font-size: 20px;
    }
  }
  .menu {
    height: 100%;
    margin-right: 16px;
    .menu-item {
      height: 100%;
      min-width: 60px;
      background: transparent;
      border: none;
      font-size: 16px;
      color: #769acb;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    .menu-item.active {
      color: #fff;
      border-bottom: 1px solid #1770ea;
    }
    .menu-item:hover {
      color: #fff;
    }
  }
}
::ng-deep .mat-button-focus-overlay {
  background-color: transparent !important;
}
::ng-deep .mat-menu-item {
  text-align: center !important;
  padding: 0 !important;
  color: #134699;
  height: 40px;
  padding: 0 10px !important;
  &:hover {
    color: #fff;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #132f5a;
  }
}
::ng-deep mat-toolbar-row {
  padding: 0 !important;
}
::ng-deep .mat-menu-panel {
  background: #18244f;
  position: absolute;
  top: 40px;
  min-width: 90px !important;
  text-align: center;
}
::ng-deep .mat-menu-content {
  text-align: center;
  padding: 0 !important;
}
@media screen and (max-width: 870px) {
  
}
@media screen and (min-width: 601px) {
  
}
@media screen and (min-width: 420px) {
  .top-nav {
    margin-bottom: 70px !important;
  }
}
@media screen and (max-width: 419px) {
  .top-nav {
    margin-bottom: 30px !important;
  }
}

