.block {
  height: 100%;
  width: 100%;
  position: relative;
}
.link-btn {
  color: #1770ea; 
  cursor: pointer; 
}
.header-title-info {
  margin-bottom: 20px;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
@media screen and (min-width: 420px) {
  .example-container {
    margin-bottom: 70px;
  }
  .header-title-info {
    font-size: 30px;
  }
}
@media screen and (max-width: 419px) {
  .hidden {
    display: none;
  }  
  .example-container {
    margin-bottom: 30px;
  }
  .header-title-info {
    font-size: 22px;
  }
}
:host {
  display: block;
}
::ng-deep .mat-header-row {
  background-color: #1c2b5d;
}
::ng-deep .mat-row:nth-child(even) {
  background-color: #18244f;
}
::ng-deep .mat-row:nth-child(odd) {
  background-color: #1c2b5d;
}
::ng-deep .mat-table * {
  color: #fff;
  font-size: 14px;
}  
::ng-deep .mat-table {
  overflow: auto;
  text-align: center;
}
::ng-deep .mat-header-row, .mat-row {
  padding: 0 30px;  
  min-height: 50px !important;
} 
