<div class="block">
	<div class="example-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>
	<div class="example-container mat-elevation-z8">
		<mat-table [dataSource]="dataSource">
			<!-- index Column -->
			<ng-container matColumnDef="index">
				<mat-header-cell *matHeaderCellDef> Height </mat-header-cell>
				<mat-cell *matCellDef="let row" style="color: #1770ea;"> {{row.index}} </mat-cell>
			</ng-container>
			<!-- size Column -->
			<ng-container matColumnDef="size">
				<mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.size}} </mat-cell>
			</ng-container>
			<!-- time Column -->
			<ng-container matColumnDef="time">
				<mat-header-cell *matHeaderCellDef  class="textRight"> time </mat-header-cell>
				<mat-cell *matCellDef="let row"  class="textRight"> {{ row.time | date : 'yyyy-MM-dd HH:mm:ss'}} </mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
		<mat-paginator [length]="totalCount" [pageSize]="1" [pageSizeOptions]="[1, 2, 50, 100]"></mat-paginator>
	</div>
</div>