.block {
  width: 100%;
  position: relative;
}
.link-btn {
  color: #1770ea; 
  cursor: pointer; 
}
.header-title-info {
  margin-bottom: 20px;
}
table {
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-spacing: 0;
  box-shadow: 3px 3px 25px #0a1331;
  tr{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
  }
  th, td {
    flex: 1;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 14px;
    a {
      display: inline-block;
    }
  }
  .td-link-btn {
    color: #1770ea;
  }
  thead tr {
    background-color: #1c2b5d;
  }
  tbody tr {
    &:nth-child(even) {
      background: #1c2b5d;
    }
    &:nth-child(odd) {
      background: #18244f;
    }
  }
}
@media screen and (min-width: 870px) {
  .addr-min-width {
    min-width: 320px;
  }
}
@media screen and (min-width: 420px) {
  .header-title-info {
    font-size: 30px;
  }
  table tr {
    padding: 0 30px;
  }
}
@media screen and (max-width: 419px) {
  .hidden {
    display: none;
  }  
  .header-title-info {
    font-size: 22px;
  }
  table {
    tr {
      padding: 0 10px;
      th, td {
        max-width: 167.5px;
      }
    }
  }
}
:host {
  display: block;
}
