<div class="block">
  <p class="header-title">Addresses</p>
	<div class="example-container mat-elevation-z8">
		<mat-table [dataSource]="dataSource">
			<!-- address Column -->
			<ng-container matColumnDef="address">
				<mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
				<mat-cell *matCellDef="let row" style="color: #1770ea; cursor: pointer;" routerLink="/address/{{row.address}}"> {{ row.address }} </mat-cell>
			</ng-container>
			<!-- createdAt Column -->
			<ng-container matColumnDef="createdAt">
				<mat-header-cell *matHeaderCellDef> createdAt </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{ row.createdAt | unixTime }} </mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
  </div>
  <div class="paginator">
    <ul class="pager pager-left">
      <li><a href="javascript: ;" (click)="pageGo(1)">First Page</a></li>
      <li><a href="javascript: ;" (click)="pagePre()">Previous</a></li>
    </ul>
    <ul class="pager pager-middle">
      <li><a href="javascript: ;" (click)="pagePreList()">&lt;&lt;</a></li>
      <li *ngFor="let num of pageShowList" [ngClass]="{active: clickPage == num}"><a href="javascript: ;" (click)="pageGo(num)">{{ num }}</a></li>
      <li><a href="javascript: ;" (click)="pageNextList()">&gt;&gt;</a></li>
    </ul>
    <ul class="pager pager-right">
      <li><a href="javascript: ;" (click)="pageNext()">Next</a></li>
      <li><a href="javascript: ;" (click)="pageGo(lastPage)">Last Page</a></li>
    </ul>
  </div>
</div>