<div class="block">
  <div class="links">
    <div class="temp">
      <p>Transactions</p>
      <span>{{ 1234567890  | number }}</span>
    </div>
    <div class="temp">
      <p>Blocks</p>
      <span>{{ 1234567890  | number }}</span>
    </div>
    <div class="temp">
      <p>Addresses</p>
      <span>{{ 1234567890  | number }}</span>
    </div>
    <div class="temp">
      <p>Assets</p>
      <span>{{ 1234567890  | number }}</span>
    </div>
  </div>
  <ngx-charts-line-chart
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [roundDomains]="roundDomains"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>
