.block {
  height: 100%;
  width: 100%;
  position: relative;
  .welcome {
    text-align: center;
    min-height: 190px;
    background: #18244f;
    padding: 30px 127px 0 127px;
    margin-bottom: 70px;
    box-shadow: 10px 10px 5px #101938;
    border-radius: 3px;
    .line-first {
      margin-bottom: 10px;
      font-size: 30px;
      color: #fff;
    }
    .line-second {
      font-size: 14px;
      color: #769acb;
      margin-bottom: 20px;
    }
    .example-container {
      display: flex;
      flex-direction: column;
      img {
        margin-left: 20px;
        width: 20px;
        height: 20px;        
      }
    }    
  }
  .links {
    width: 100%;
    height: 190px;
    margin-bottom: 70px;
    .link-item {
      float: left;
      background-color: #18244f;
      background-image: url('/assets/bg_Summary.png');
      background-repeat: no-repeat;
      background-position: bottom;
      text-align: center;
      border-radius: 3px;
      width: 24.25%;
      height: 190px;
      padding: 65px 0;
      p{
        color: #fff;
        font-size: 14px;
        padding-bottom: 20px;
      }
      span {
        color: #1770ea;
        font-size: 30px;
        margin-bottom: 25px;
      }
      &:not(:last-child) {
        margin-right: 1%;
      }
    }
  }
  .recent-assets {
    margin-bottom: 70px;
    p {
      font-size: 30px;
      color: #fff;
      margin-bottom: 10px;
    }
    .view-all {
      width: 100%;
      text-align: center;
      button {
        background-color: #18244f;
        color: #fff;
        width: 300px;
        height: 48px;
        margin-top: 36px;
        border-radius: 3px;
        border: solid 1px #1770ea;
        &:hover {
          background:  #1c2b5d;
        }
        img {
          width: 30px;
          height: 30px;
          margin-left: 16px;
          display: inline-block;
        }
      }
    }
  }
}
:host {
  display: block;
}
::ng-deep .mat-header-row {
  background-color: #1c2b5d;
}
::ng-deep .mat-row:nth-child(even) {
  background-color: #18244f;
}
::ng-deep .mat-row:nth-child(odd) {
  background-color: #1c2b5d;
}
::ng-deep .mat-table * {
  color: #fff;
  font-size: 14px;
}  
::ng-deep .mat-paginator  {
  background: #252e67;
  color: #bbbfe4;
}
:host ::ng-deep mat-form-field * {
  max-width: 846px;
  text-align: center !important;
}
:host ::ng-deep mat-label {
  color: #1770ea;
  span {
    font-size: 14px;
    position: relative;
    top: -5px;
  }
}
:host ::ng-deep .mat-input-underline {
  background-color: #1770ea;
}
:host ::ng-deep .mat-form-field-ripple{
  background-color: #1770ea;
}
:host ::ng-deep .mat-focused:not(.mat-form-field-invalid) mat-form-field * {
  color: #1770ea;
}
:host ::ng-deep .mat-input-element {
  caret-color: #a1a2bb;
}
:host ::ng-deep .mat-focused:not(.mat-form-field-invalid) .mat-input-underline {
  background-color: #1770ea;
}
:host ::ng-deep .mat-focused:not(.mat-form-field-invalid) .mat-form-field-ripple{
  background-color: #1770ea;
}

@media screen and (max-width: 700px) {
  .welcome {
    .line-first {
      font-size: 25px !important;
    }
  }
}
@media screen and (min-width: 700px) {
  
}