.block {
  height: 100%;
  width: 100%;
  position: relative;
}
.header-title-info {
  font-size: 30px;
  margin-bottom: 20px;
}
.link-btn {
  color: #1770ea;
  cursor: pointer;
}
.data-right {
  text-align: right;
}
.welcome {
  text-align: center;
  min-height: 190px;
  background: #18244f;
  box-shadow: 3px 3px 18px #101938;
  border-radius: 3px;
  .line-first {
    margin-bottom: 10px;
    font-size: 30px;
    color: #fff;
  }
  .line-second {
    font-size: 14px;
    color: #769acb;
    margin-bottom: 20px;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    img {
      width: 20px;
      height: 20px;        
    }
  }    
}
.links {
  width: 100%;
  .link-item {
    float: left;
    background-color: #18244f;
    background-image: url('/assets/bg_Summary.png');
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    border-radius: 3px;
    height: 190px;
    padding: 65px 0;
    p{
      color: #fff;
      font-size: 14px;
      padding-bottom: 20px;
    }
    span {
      color: #1770ea;
      font-size: 30px;
      margin-bottom: 25px;
    }
  }
}
.recent-assets {
  .view-all {
    width: 100%;
    text-align: center;
    button {
      background-color: #18244f;
      color: #fff;
      width: 300px;
      height: 48px;
      margin-top: 36px;
      border-radius: 5px;
      border: solid 1px #1770ea;
      &:hover {
        background:  #1c2b5d;
      }
      img {
        width: 30px;
        height: 30px;
        margin-left: 16px;
        display: inline-block;
      }
    }
  }
}
:host {
  display: block;
}
::ng-deep .mat-header-row {
  background-color: #1c2b5d;
}
::ng-deep .mat-row:nth-child(even) {
  background-color: #18244f;
}
::ng-deep .mat-row:nth-child(odd) {
  background-color: #1c2b5d;
}
::ng-deep .mat-table * {
  color: #fff;
  font-size: 14px;
}  
::ng-deep .mat-table {
  overflow: auto;
  text-align: center;
}
::ng-deep .mat-header-row, .mat-row {
  padding: 0 30px;  
  min-height: 50px !important;
}
:host ::ng-deep mat-form-field * {
  text-align: center !important;
}
:host ::ng-deep mat-label {
  color: #1770ea;
  span {
    font-size: 14px;
    position: relative;
    top: -5px;
  }
}
:host ::ng-deep .mat-input-underline {
  background-color: #1770ea;
}
:host ::ng-deep .mat-form-field-ripple{
  background-color: #1770ea;
}
:host ::ng-deep .mat-focused:not(.mat-form-field-invalid) mat-form-field * {
  color: #1770ea;
}
:host ::ng-deep .mat-input-element {
  caret-color: #a1a2bb;
}
:host ::ng-deep .mat-focused:not(.mat-form-field-invalid) .mat-input-underline {
  background-color: #1770ea;
}
:host ::ng-deep .mat-focused:not(.mat-form-field-invalid) .mat-form-field-ripple{
  background-color: #1770ea;
}

@media screen and (max-width: 700px) {
  .welcome {
    .line-first {
      font-size: 25px !important;
    }
  }
}
@media screen and (min-width: 601px) {
  .links {
    height: 190px;
    .link-item {
      width: 24.25%;
      &:not(:last-child) {
        margin-right: 1%;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .links {
    height: 385px;
    .link-item {
      width: 49.5%;
      &:nth-child(odd) {
        margin-right: 1%;
      }
      &:nth-child(-n + 2) {
        margin-bottom: 5px;
      }
    }
  }
}
@media screen and (min-width: 420px) {
  .welcome {
    padding: 30px 10% 0 10%;
    margin-bottom: 70px;
    img {
      margin-left: 20px;
    }
  }
  .links {
    margin-bottom: 70px;
  }
  .recent-assets {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 419px) {
  .welcome {
    padding: 30px 10px;
    margin-bottom: 30px;
    img {
      margin-left: 5px;
    }
  }
  .links {
    margin-bottom: 30px;
  }
  .recent-assets {
    margin-bottom: 30px;
  }
}