<div class="block">
  <div class="header-title">
    <p class="header-title-info">Addresses information</p>
    <p class="header-title-address">{{ this.address }}</p>
  </div>
  <!-- <ul class="info-address info">
    <li>
      <p>{{ height }}</p>
      <span>Block Index</span>
    </li>
    <li>
      <p>{{ blockInfo.time * 1000 | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
      <span>Created</span>
    </li>
    <li>
      <p>{{ blockInfo.hash }}</p>
      <span>Hash</span>
    </li>
    <li>
      <p>{{ blockInfo.size }}</p>
      <span>Network Fee</span>
    </li>
    <li>
      <p>{{ blockInfo.version }}</p>
      <span>System Fee</span>
    </li>
    <li>
      <p>{{ blockInfo.merkleRoot }}</p>
      <span>Size</span>
    </li>
  </ul> -->
  <ul class="info-assets info">
    <li *ngFor="let item of addrassets">
      <p>{{ item.balance | number }}</p>
      <span>{{ item.name }}</span>
    </li>
  </ul>
  <p class="header-title-info">Transactions ( 5 )</p>
  <div class="tran-list">
    <div class="row-head">
      <div class="col col-1">TXID</div>
      <div class="col col-2">Type</div>
      <div class="col col-3 hidden">Size</div>
      <div class="col col-4 hidden">Version</div>
      <div class="col col-5 hidden">Time</div>
    </div>
    <div class="warpper" *ngFor="let item of dataSource; index as index">
      <div class="row">
        <div class="col col-1 link-btn" routerLink="/transaction/{{item.TX.txid}}">{{ item.TX.txid | shortHash }}</div>
        <div class="col col-2" [appTransColor]="item.TX.type">{{ item.TX.type }}</div>
        <div class="col col-3 hidden">{{ item.TX.size }} Bytes</div>
        <div class="col col-4 hidden">{{ item.TX.version }}</div>
        <div class="col col-5 hidden">2018-1-1 12:10:09</div>
        <div class="col col-6 hidden"><img style="transition: all .4s;" (click)="showInfo(index)" [ngClass]="{active: show[index]}" src="/assets/icon_drop_down_n1.png"></div>
      </div>
      <div class="tran-info">
        <div class="tran-info-from">
          <p class="info-title" *ngIf=txInfo.UTXOVout.TxUTXO>Sent from</p>
          <div  *ngFor="let txUTXO of txInfo.UTXOVout.TxUTXO">
            <div class="info-address link-btn" routerLink="/address/{{txUTXO.address}}">{{ txUTXO.address }}</div>
            <div class="info-amount">
              <span>{{ txUTXO.value }}</span>
              <span class="link-btn" routerLink="/asset/info/{{txUTXO.name}}">{{ txUTXO.name }}</span>
            </div>
          </div>
        </div>
        <div class="tran-info-icon"><img src="/assets/img-arrow.png" alt=""></div>
        <div class="tran-info-to">
          <p class="info-title" *ngIf=txInfo.UTXOVout.TxVouts>Sent to</p>
          <div *ngFor="let txVout of txInfo.UTXOVout.TxVouts">
            <div class="info-address link-btn" routerLink="/address/{{txVout.address}}">{{ txVout.address }}</div>
            <div class="info-amount">
              <span>{{ txVout.value }}</span>
              <span class="link-btn" routerLink="/asset/info/{{txVout.name}}">{{ txVout.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="view-all">
    <button mat-raised-button  routerLink="/assets">View All</button>
  </div>
</div>