.block {
  height: 100%;
  width: 100%;
  position: relative;
}
.link-btn {
  color: #1770ea; 
  cursor: pointer; 
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.icon-link {
  margin-left: 4px;
  color: #1770ea;
}
.icon-sort {
  vertical-align: middle;
  font-size: 24px;
  cursor: pointer;
  color: #1770ea;
  transition: all .4s;
}
.icon-sort.active {
  transform: rotate(180deg);
  color: #fff;
}
.header-title {
  position: relative;
  height: 60px;
  .header-title-info {
    position: absolute;
  }
  .dropdown {
    position: absolute;
    bottom: 10px;
    right: 0;
    display: inline-block;
    &:hover .dropbtn {
      color: #fff;
    }
    &:hover .dropdown-content{
      display: block;
    }
    .dropbtn {
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      border: none;
      text-align: center;
      width: 140px;
      height: 32px;
      line-height: 32px;
      font-size: 16px;
      background: #1c2b5d;
    }
    .dropdown-content {
      z-index: 999;
      display: none;
      position: absolute;
      right: 0;
      background-color: #1c2b5d;
      border: 1px solid #1770ea;
      width: 140px;
      border-radius: 3px;
      font-size: 16px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      a {
        color: #fff;
        height: 32px;
        line-height: 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        &:hover {
          color: #1770ea;
        }
        // &:not(:last-child) {
        //   border-bottom: 1px solid #132b5d;
        // }
      }
    }
  }
}
@media screen and (min-width: 800px) {

}
@media screen and (max-width: 799px) {

}
@media screen and (min-width: 420px) {
  .example-container {
    margin-bottom: 70px;
  }
  .header-title-info {
    font-size: 30px;
  }
}
@media screen and (max-width: 419px) {
  .hidden {
    display: none;
  }  
  .example-container {
    margin-bottom: 30px;
  }
  .header-title-info {
    font-size: 22px;
  }
}
:host {
  display: block;
}
::ng-deep .mat-header-row {
  background-color: #1c2b5d;
}
::ng-deep .mat-row:nth-child(even) {
  background-color: #18244f;
}
::ng-deep .mat-row:nth-child(odd) {
  background-color: #1c2b5d;
}
::ng-deep .mat-table * {
  color: #fff;
  font-size: 14px;
}  
::ng-deep .mat-table {
  overflow: auto;
  text-align: center;
}
::ng-deep .mat-header-row, .mat-row {
  padding: 0 30px;  
  min-height: 50px !important;
}
::ng-deep .mat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::ng-deep .mat-icon {
  vertical-align: middle;
}
