<div class="block">
  <p class="header-title-info">Assets</p>
	<div class="example-container mat-elevation-z8">
		<mat-table [dataSource]="dataSource">
			<!-- name Column -->
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef>Asset</mat-header-cell>
				<mat-cell *matCellDef="let row" class="link-btn" routerLink="/asset/info/{{row.name}}"> {{row.name}} </mat-cell>
			</ng-container>
			<!-- type Column -->
			<ng-container matColumnDef="type">
				<mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
				<mat-cell *matCellDef="let row" [appAssetColor]="row.type"> {{row.type}} </mat-cell>
			</ng-container>
			<!-- amount Column -->
			<ng-container matColumnDef="amount">
				<mat-header-cell *matHeaderCellDef class="hidden">Supply</mat-header-cell>
				<mat-cell *matCellDef="let row" class="hidden"> {{row.amount | number}} </mat-cell>
      </ng-container>
      <!-- addresses Column -->
			<ng-container matColumnDef="addresses">
        <mat-header-cell *matHeaderCellDef class="hidden">Addresses<mat-icon class="icon-sort" (click)="sortAddr()" [ngClass]="{active: showSortAddr}">keyboard_arrow_down</mat-icon> </mat-header-cell>
        <mat-cell *matCellDef="let row" class="hidden"> {{row.addresses | number}} </mat-cell>
      </ng-container>
			<!-- transactions Column -->
			<ng-container matColumnDef="transactions">
				<mat-header-cell *matHeaderCellDef class="hidden">Transactions<mat-icon class="icon-sort" (click)="sortTrans()" [ngClass]="{active: showSortTran}">keyboard_arrow_down</mat-icon> </mat-header-cell>
				<mat-cell *matCellDef="let row" class="hidden"> {{row.transactions | number}} </mat-cell>
			</ng-container>
			<!-- register adress Column -->
			<ng-container matColumnDef="admin">
				<mat-header-cell *matHeaderCellDef style="min-width: 300px;"  class="hidden">Registered</mat-header-cell>
				<mat-cell *matCellDef="let row"  class="link-btn hidden" style="min-width: 300px;" routerLink="/address/{{row.admin}}"> {{ row.admin }} </mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
  </div>
  <app-paginator 
    [pageSize]=pageSize
    [pageLength]=pageLength
    (onpageGo)="onpageGo($event)">
  </app-paginator>
</div>