<div class="block">
  <div class="header-title" [appTransBorderColor]="txInfo.TX.type">
    <p class="header-title-info">{{ txInfo.TX.type | transType}} <span i18n>Transaction</span></p>
    <p class="header-title-address over-ellipsis">{{ txInfo.TX.type | lowTransType}} | <span i18n>Hash</span>: {{ txInfo.TX.txid }}</p>
  </div>
  <div class="tran-info" [ngClass]="{isVisible: !(txInfo.UTXOVout.TxUTXO || txInfo.UTXOVout.TxVouts)}">
    <div class="tran-info-from">
      <p class="info-title" *ngIf=txInfo.UTXOVout.TxUTXO i18n>Sent from</p>
      <div  *ngFor="let txUTXO of txInfo.UTXOVout.TxUTXO">
        <div class="info-address break-word link-btn" routerLink="/address/{{txUTXO.address}}">{{ txUTXO.address }}</div>
        <div class="info-amount">
          <span>{{ txUTXO.value }}</span>
          <span class="link-btn" routerLink="/asset/info/{{txUTXO.name}}">{{ txUTXO.name }}</span>
        </div>
      </div>
    </div>
    <div class="tran-info-icon"><img src="/assets/img-arrow.png" alt=""></div>
    <div class="tran-info-to">
      <p class="info-title" *ngIf=txInfo.UTXOVout.TxVouts i18n>Sent to</p>
      <div *ngFor="let txVout of txInfo.UTXOVout.TxVouts">
        <div class="info-address break-word link-btn" routerLink="/address/{{txVout.address}}">{{ txVout.address }}</div>
        <div class="info-amount">
          <span>{{ txVout.value }}</span>
          <span class="link-btn" routerLink="/asset/info/{{txVout.name}}">{{ txVout.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <ul class="block-info-address info">
    <li>
      <p>{{ height }}</p>
      <span>Block Index</span>
    </li>
    <li>
      <p>{{ blockInfo.time * 1000 | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
      <span>Created</span>
    </li>
    <li>
      <p>{{ blockInfo.hash }}</p>
      <span>Hash</span>
    </li>
    <li>
      <p>{{ blockInfo.size }}</p>
      <span>Network Fee</span>
    </li>
    <li>
      <p>{{ blockInfo.version }}</p>
      <span>System Fee</span>
    </li>
    <li>
      <p>{{ blockInfo.merkleRoot }}</p>
      <span>Size</span>
    </li>
  </ul> -->
  <div class="script">
    <div class="header-title-info" i18n>Invocation Script</div>
    <div class="script-info">
      <p>PUSHBYTES64:</p>
      <p class="break-word">{{scripts.invation}}</p>
    </div>
  </div>
  <div class="script">
    <div class="header-title-info" i18n>Verification Script</div>
    <div class="script-info">
      <p>PUSHBYTES32:</p>
      <p class="break-word">{{scripts.verification}}</p>
    </div>
  </div>
</div>