<div class="block">
	<div class="header-title">
    <span class="header-title-info" i18n>Assets</span>
    <div class="dropdown">
      <button class="dropbtn">{{assetType}}<mat-icon class="icon-link">keyboard_arrow_down</mat-icon></button>
      <div class="dropdown-content">
        <a href="javascript:;" (click)="changeAssetType('Assets')">Assets</a>
        <a href="javascript:;" (click)="changeAssetType('Nep5')">Nep5</a>
      </div>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th i18n>Asset</th>
        <th i18n>Type</th>
        <th class="hidden" i18n>Supply</th>
        <th class="hidden" i18n>Addresses</th>
        <th class="hidden" i18n>Transactions</th>
        <th class="hidden" i18n>Registered</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of assets; index as index">
        <td class="td-link-btn" *ngIf="item?.type !== 'nep5'"><a class="link-btn" routerLink="/asset/{{item?.assetId}}">{{item?.name}}</a></td>
        <td class="td-link-btn" *ngIf="item?.type === 'nep5'"><a class="link-btn" routerLink="/nep5/{{item?.assetId}}">{{item?.name}}</a></td>
        <td [appAssetColor]="item?.type">{{item?.type}}</td>
        <td class="hidden">{{item?.amount | number: '1.0-8'}}</td>
        <td class="hidden">{{item?.addresses | number}}</td>
        <td class="hidden">{{item?.transactions | number}}</td>
        <td class="hidden td-link-btn"><a class="link-btn" routerLink="/address/{{item?.admin}}">{{item?.admin}}</a></td>
      </tr>
    </tbody>
  </table>
  <mat-progress-bar mode="indeterminate" *ngIf="isProgress"></mat-progress-bar>
  <app-paginator 
		[pageSize]="pageSize"
		[pageIndex]="pageIndex"
    [pageLength]="pageLength"
    (onpageGo)="onpageGo($event)">
  </app-paginator>
</div>