<div class="block">
  <div class="header-title">
    <span class="header-title-info" i18n>Transactions</span>
    <div class="pc-menu">
      <button mat-raised-button class="pc-menu-btn" [matMenuTriggerFor]="pcTrans">{{transType | transType}}<mat-icon class="icon-link">keyboard_arrow_down</mat-icon></button>
      <mat-menu #pcTrans="matMenu">
        <button class="pc-menu-item" mat-menu-item (click)="changeTransType('all')">Any</button>
        <button class="pc-menu-item" mat-menu-item (click)="changeTransType('ContractTransaction')">Contract</button>
        <button class="pc-menu-item" mat-menu-item (click)="changeTransType('InvocationTransaction')">Invocation</button>
        <button class="pc-menu-item" mat-menu-item (click)="changeTransType('ClaimTransaction')">Claim</button>
        <button class="pc-menu-item" mat-menu-item (click)="changeTransType('MinerTransaction')">Miner</button>
        <button class="pc-menu-item" mat-menu-item (click)="changeTransType('RegisterTransaction')">Register</button>
        <button class="pc-menu-item" mat-menu-item (click)="changeTransType('IssueTransaction')">Issue</button>
        <button class="pc-menu-item" mat-menu-item (click)="changeTransType('EnrollmentTransaction')">Enrollment</button>
        <button class="pc-menu-item" mat-menu-item (click)="changeTransType('PublishTransaction')">Publish</button>
      </mat-menu>
    </div>
  </div>
  <div class="tran-list">
    <div class="row-head">
      <div class="col" i18n>TXID</div>
      <div class="col" i18n>Type</div>
      <div class="col hidden" i18n>Size</div>
      <div class="col hidden" i18n>Version</div>
      <div class="col hidden" i18n>Time</div>
    </div>
    <div class="warpper" *ngFor="let item of transactions; index as index">
      <div class="row">
        <div class="col td-link-btn"><a class="link-btn" routerLink="/transaction/{{item?.txid}}">{{ item?.txid }}</a></div>
        <div class="col" [appTransColor]="item?.type">{{ item?.type | transType }}</div>
        <div class="col hidden">{{ item?.size | number }} Bytes</div>
        <div class="col hidden">{{ item?.version }}</div>
        <div class="col hidden">{{ item?.blockTime | unixTime }}</div> 
        <div class="hidden col-icon" (click)="showInfo(index, item?.txid)" [ngClass]="{active: show[index]}" style="transition: all .6s;"><img src="/assets/icon_drop_down_n1.png"></div>
      </div>
      <div class="tran-info" *ngIf="show[index] && transferType[index] === 0 && (transfer[index].TxUTXO !== null || transfer[index].TxVouts !== null)">
        <div class="tran-info-from">
          <p class="info-title" *ngIf="transfer[index]?.TxUTXO !== null" i18n>Sent from</p>
          <div *ngFor="let txUTXO of transfer[index]?.TxUTXO">
            <div class="info-address"><a class="link-btn" routerLink="/address/{{txUTXO?.address}}">{{ txUTXO?.address }}</a></div>
            <div class="info-amount">
              <span>{{ txUTXO?.value | number: '1.0-8' }}</span>
              <span class="link-btn" routerLink="/asset/{{txUTXO?.assetId}}">{{ txUTXO?.name }}</span>
            </div>
          </div>
        </div>
        <div class="tran-info-icon"><img src="/assets/img-arrow.png" alt=""></div>
        <div class="tran-info-to">
          <p class="info-title" *ngIf="transfer[index]?.TxVouts !== null" i18n>Sent to</p>
          <div *ngFor="let txVout of transfer[index]?.TxVouts">
            <div class="info-address"><a class="link-btn" routerLink="/address/{{txVout?.address}}">{{ txVout?.address }}</a></div>
            <div class="info-amount">
              <span>{{ txVout?.value | number: '1.0-8' }}</span>
              <span class="link-btn" routerLink="/asset/{{txVout?.assetId}}">{{ txVout?.name }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="tran-info" *ngIf="show[index] && transferType[index] === 1 && transfer[index] !== null">
        <div class="tran-info-from">
          <p class="info-title" *ngIf="transfer[index][0].form !== ''" i18n>Sent from</p>
          <div *ngFor="let txfrom of transfer[index]">
            <div class="info-address"><a class="link-btn" routerLink="/address/{{txfrom?.from}}">{{ txfrom?.from }}</a></div>
            <div class="info-amount" *ngIf="transfer[index][0].form !== ''">
              <span>{{ txfrom?.value | number: '1.0-8' }}</span>
              <span class="link-btn" routerLink="/nep5/{{txfrom?.assetId}}">{{ txfrom?.name }}</span>
            </div>
          </div>
        </div>
        <div class="tran-info-icon"><img src="/assets/img-arrow.png" alt=""></div>
        <div class="tran-info-to">
          <p class="info-title" i18n *ngIf="transfer[index][0].to !== ''">Sent to</p>
          <div *ngFor="let txto of transfer[index]">
            <div class="info-address"><a class="link-btn" routerLink="/address/{{txto?.to}}">{{ txto?.to }}</a></div>
            <div class="info-amount" *ngIf="transfer[index][0].to !== ''">
              <span>{{ txto?.value | number: '1.0-8' }}</span>
              <span class="link-btn" routerLink="/nep5/{{txto?.assetId}}">{{ txto?.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="isProgress"></mat-progress-bar>  
  <app-paginator 
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageLength]="pageLength"
    (onpageGo)="onpageGo($event)">
  </app-paginator>
</div>